.answer-on-question-container{
    position: relative;
    margin-top: 40px;
    padding: 24px;
    background-color: #fff;
    border-radius: 3px;
    border: none;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);

    .answer-form{
        .input-form-group{
            label{
                display: block;
                font-size: 1.2rem;
            }
        }

        textarea{
            height: 200px;
        }
    }
}