@import "assets/stylesheets/variables.scss";

.panel-card {
  .card {
    border-radius: 4px;
    border: 1px solid #dddfe2;
    height: 100%;
  }

  .card-body {
    padding: 24px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .card-title {
    color: $text-dark;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.23px;
    line-height: 1.38;
    margin-bottom: 24px;
  }
}