.question-page{
    .panel-card{
        .card-title{
            margin-bottom: 0px;
        }
    }
    
    .question-header{
        position: relative;
        
        display: flex;
        display: -webkit-flex;
    
        align-items: center;
        -webkit-align-items: center;

        justify-content: space-between;
        -webkit-justify-content: space-between;
        margin-bottom: 20px;


        .question-info { 
            position: relative;
        
            display: flex;
            display: -webkit-flex;
        
            align-items: center;
            -webkit-align-items: center;
        
            .question-author-image{
                position: relative;
                width: 42px;
                height: 42px;
                border-radius: 50%;
                display: inline-block;
                background: #9b59b6 no-repeat 50%/cover;
                text-align: center;
                color: #fff;
                font-weight: 600;
                vertical-align: bottom;
                font-size: .875rem;
                margin-right: 20px;
                line-height: 45px;
            }
        
            .question-title{
                h4{
                    margin-bottom: 0;
                    font-weight: 600;
                }
        
                p{
                    margin-bottom: 0px;
                }
            }
        }
    }

    .question-reactions{
        display: flex;
        display: -webkit-flex;

        .question-reaction{
            position: relative;
            margin-left: 10px;
            
            button{
                border: none;
                background: #ecf0f1;
                outline: none;
                border-radius: 50%;
                height: 40px;
                width: 40px;
                margin-left: 10px;
    
                &.thumbs-down{
                    &:hover{
                        background-color:#e74c3c;
                        color: #fff;
                    }
                }
    
                &.thumbs-up{
                    &:hover{
                        background-color:#3498db;
                        color: #fff;
                    }
                }
            }
        }
    }

    .question-answers{
        .question-answer{
            position: relative;
            margin-top: 20px;
            padding: 24px;
            background-color: #fff;
            border-radius: 3px;
            border: none;
            box-shadow: 0 1px 15px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);

            .answer-content{
                position: relative;
                margin-top: 20px;
                p{
                    margin-bottom: 0;
                }
            }
            .answer-author{
                display: flex;
                display: -webkit-flex;

                align-items: center;
                -webkit-align-items: center;

                .author-avatar{
                    position: relative;
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    display: inline-block;
                    background: #ced4da no-repeat 50%/cover;
                    position: relative;
                    text-align: center;
                    color: #fff;
                    font-weight: 600;
                    vertical-align: bottom;
                    font-size: .875rem;
                    margin-right: 10px;
                    line-height: 32px;
                }

                .author-info{
                    h5{
                        margin-bottom: 0;
                        font-weight: 600;
                        font-size: 18px;
                    }

                    span{
                        font-size: 14px;
                    }

                    a{
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .question-description{
        position: relative;
        margin-bottom: 30px;
    }

    .write-answer-message{
        position: relative;
        background: #f8f8f8;
        padding: 24px;
        border-radius: 4px;
        border: 1px solid #bdc3c7;
        margin-top: 40px;
        text-align: center;

        p{
            margin-bottom: 0px;
        }
    }

    .justify-space-between{
        justify-content: space-between;
        -webkit-justify-content: space-between;
    }
}