.info-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFF;
  border-radius: 3px;
  border: 1px solid #EFF1F4;
  height: 146px;
  color: #7B7E81;
  font-size: 13px;
  line-height: 20px;
}