.apply-tag-container{
    position: relative;
    margin-bottom: 20px;

    ul{
        display: flex;
        display: -webkit-flex;
    }

    .apply-tag-toggle{
        height: 48px;
        text-align: left;
    }

    .tag-input{
        display: none;
        position: absolute;
        top: 90px;
        width: 100%;
        padding: 15px;
        z-index: 100;
        max-height: 400px;
        background: #fff;
        border: 1px solid #dddfe2;
        border-radius: 4px;
        box-shadow: 0 4px 6px 0 rgba(57, 59, 62, 0.09);

        &.show{
            display: block;
        }

        .form-input-single{
            position: relative;

            .add-new-value {
                position: absolute;
                top: 13px;
                right: 10px;
                font-size: 20px;
                color: #27ae60;
                cursor: pointer;
            }
        }
    }

    .tag {
        font-size: .75rem;
        color: #6e7687;
        background-color: #e9ecef;
        border-radius: 3px;
        padding: 0 .5rem;
        margin-right: 5px;
        line-height: 2em;
        display: inline-flex;
        cursor: default;
        font-weight: 400;
        font-weight: 700;
        margin-top: 5px;
        margin-bottom: 5px;

        .tag-addon {
            display: block;
            padding: 0 .5rem;
            color: inherit;
            cursor: pointer;
            text-decoration: none;
            background: rgba(0,0,0,.06);
            margin: 0 -.5rem 0 .5rem;
            text-align: center;
            min-width: 1.5rem;
            max-width: 200px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}