.accordion {
  padding-bottom: 27px;

  .accordion-title {
    position: relative;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.56;
    color: #393b3e;
    padding: 16px 0;
    border-bottom: 1px solid #eceef1;

    &:after {
      position: absolute;
      right: 0;
      top: 25px;
      display: inline-block;
      margin-left: 0.255em;
      vertical-align: 0.255em;
      content: "";
      border-top: 0;
      border-bottom: 0.3em solid;
      border-right: 0.3em solid transparent;
      border-left: 0.3em solid transparent;
    }

    &.active {
      border-bottom: 0;
      &:after {
        border-top: 0.3em solid;
        border-bottom: 0;
      }
    }
  }
}