/*
OLD
*/
$text: #2e384d;
$text-light: #dce3f3;
$text-dark: #495057;

$card-border: #eff1f4;
$table-border: #eceef1;

$gray: #b0bac9;
$light-gray: #f4f6fc;
$grey-blue: #8798ad;
$light-grey-blue: #adb1bb;

$dark-gray: #8e9197;

$primary-color: #4285f4;




